body {
  background-color: #000000 !important;
  height: 100%;
}

.loading {
  background-color: #000000 !important;
}

.splash-container {
  background-color: #242424;
}

.initial-bg{
  background-image: url('assets/images/background.jpg');
  min-height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 7px solid #2b2a2a;
}

.login-bg {
  background-image: url('assets/images/background.jpg');
  min-height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-col {
  min-height: 70vh;
}

.custom-input {
  background-color: transparent !important;
  color: white !important;
  border: 1px solid #777777 !important;
}

.custom-label {
  color: white;
}

.custom-label::after, .custom-label {
  color: #ffffff !important;
  background-color: transparent !important;
}

.bg-gradient-dark {
  background: linear-gradient(180deg, rgba(0,0,0,0.9), rgba(0,0,0,0));
}

.btn-danger{
  background-color: rgb(229,9,20) !important;
}

.btn-close {
  background-color: whitesmoke !important;
}

.btn-avatar {
  border: none !important;
  background-color: transparent !important;
}

.btn-avatar::after {
  content: none !important;
  transition: transform 0.3s ease-in-out;
}

.btn-avatar:hover {
  scale: 1.3;
  transition: transform 1s ease-in-out;
}

.bg-gradient-dark-radius {
  background-color: #000000;
}

.bg-gradient-dark-radius-transparent {
  background-color: #000000 !important;
    opacity: 0.8;
}

a, a>strong {
  text-decoration: none;
  outline: 0;
}

h1 {
  font-family: "Netflix Sans1", serif;
}

h2 {
    font-family: "Netflix Sans1", serif;
}

h3 {
  font-family: "Netflix Sans3", serif;
}

h4 {
  font-family: "Netflix Sans1", serif;
}

h6 {
  font-family: "Netflix Sans3", serif;
}

.tv-container {
  position: relative;
}

video {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.nav-item {
  font-family: "Netflix Sans3", serif;
}

.nav-item-selected {
    font-family: "Netflix Sans1", serif;
}

.nav-item:hover {
  font-family: "Netflix Sans1", serif;
}

.dropdown-item:hover {
  color: #000 !important;
}

form .search-input {
  border: 1px solid white;
  background-color: transparent;
  color: white;
}

form .search-input::placeholder {
  color: white;
}

form .search-input:focus {
  outline: none;
  box-shadow: 0 0 5px white;
  color: white;
  background-color: transparent;
}

.navbar-custom {
  background-color: #000;
}

.nav-links {
  display: flex;
  flex-direction: column;
}

.main-movie-title {
  font-family: "Madrigal", serif;
}

@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;
  }

  .search-form {
    order: 2;
  }
}

@media (max-width: 767px) {
  .navbar-custom .navbar-collapse {
    flex-direction: column;
  }

  .navbar-brand {
    order: 1;
  }

  .search-form {
    order: 2;
    flex: 1;
  }

  .nav-links {
    order: 3;
    width: 100%;
  }
}

.search-input {
  border: 2px solid white;
  background-color: transparent;
  color: white;
}

.search-input::placeholder {
  color: white;
}

.search-input:focus {
  outline: none;
  box-shadow: 0 0 5px white;
}

.movie-details {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: 85vh;
  filter: drop-shadow(200px 0px 500px rgba(0, 0, 0, 0.5));
  display: flex;
  flex-direction: column;
}

.main-banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 85vh;
  filter: drop-shadow(200px 0px 500px rgba(0, 0, 0, 0.5));
  display: flex;
  flex-direction: column;
}

.carousels {
  margin-top: 280px;
}

.main-banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
          to right,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.1) 20%,
          rgba(0, 0, 0, 1) 100%
  ),
  linear-gradient(
          to bottom,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 0) 23%
  ),
  linear-gradient(
          to top,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 0.3) 0%,
          rgba(0, 0, 0, 0) 20%
  );
  z-index: -1;
}

.no-scrollbar {
  overflow-x: auto !important;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none !important;
}

#carousel-slider {
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
}

#scrollable {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

#scrollable::-webkit-scrollbar {
  display: none;
}

tr {
  display: inline-flex;
}

.tv-images>img {
  transition: transform 0.3s ease-in-out !important;
}

.tv-images>img:hover {
  transform: scale(1.5) !important;
  transition: transform 0.3s ease-in-out !important;
}

.carousel-slider-cover {
  width: 230px;
  height: 300px;
  overflow: hidden;
  padding: 0;
}

.card {
  overflow: hidden;
}

.carousel-slider-cover>img, .card>.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out !important;
}

.carousel-slider-cover>img:hover, .card>.card-img-top:hover {
  transform: scale(1.5) !important;
  transition: transform 0.3s ease-in-out !important;
}

.custom-toggle {
  border: none !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.dropdown-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.video-container:hover .dropdown-wrapper {
  opacity: 1;
}

.video {
  width: 100%;
  height: 100vh !important;
  border: none;
}

.select-server::after {
  content: none !important;
}

.modalBody::after {
  box-shadow: 10px 0 5px -2px #000000;
}

.control-btn {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.control-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


@media (max-width: 1580px) {
  .carousels {
    margin-top: 130px;
  }
}

@media (max-width: 1270px) {
  .carousels {
    margin-top: 150px;
  }
}

@media (max-width: 768px) {

  .carousels {
    margin-top: 120px;
  }
  .main-banner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    filter: drop-shadow(200px 0px 500px rgba(0, 0, 0, 0.5));
  }

  .main-banner::before {
    left: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0) 100%
    );
    z-index: -1;
  }
}

@media (max-width: 576px) {
  .carousels {
    margin-top: 130px;
  }

  .movie-details {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
  }

  .main-banner {
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: drop-shadow(200px 0px 500px rgba(0, 0, 0, 0.5));
  }

  .main-banner-controls {
    margin-bottom: 20px;
  }

  .main-banner::before {
    left: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0) 100%
    );
    z-index: -1;
  }
}



@media (min-width: 1401px) and (max-width: 1650px) {
  .custom-xl {
    width: 50% !important;
    flex: 0 0 30% !important;
    max-width: 40% !important;
  }

  .custom-register {
    width: 50% !important;
    flex: 0 0 40% !important;
    max-width: 40% !important;
  }
}

@media (min-width: 1401px) and (max-width: 1900px) {
  .carousels {
    margin-top: 100px;
  }
}


@font-face {
  font-family: 'Netflix Sans1';
  font-weight: 900;
  font-display: optional;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff) format('woff')
}

@font-face {
  font-family: 'Netflix Sans2';
  font-weight: 700;
  font-display: optional;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff) format('woff')
}

@font-face {
  font-family: 'Netflix Sans3';
  font-weight: 400;
  font-display: optional;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff) format('woff')
}




